@* @model IEnumerable<AuroraBrix.Models.OrderPrediction> *@

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var class_type_dict = new Dictionary<int, string>
    {
        { 0, "Not Fraud" },
        { 1, "Fraud" }
    };
}
@model List<BrixOrder>

<table class="table table-bordered">
    <thead class="fw-bold">
    <tr>
        <td>Transaction Id</td>
        <td>Date</td>
        <td>Time</td>
        <td>Country of Transaction</td>
        <td>Fraud</td>
    </tr>
    </thead>

    @foreach (var x in Model)
    {
        <tbody>
        <tr>
            <td>@x.TransactionId</td>
            <td>@x.Date</td>
            <td>@x.Time</td>
            <td>@x.CountryOfTransaction</td>
            <td>@x.Fraud</td>
    
        </tr>
        </tbody>
    }




</table>

@section Scripts {

}