@model AuroraBricks.Models.BrixProduct
@{
    ViewBag.Title = "Product Details";
}

<style>

</style>


<h1>@Model.Name</h1>

<div class="container col-9">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <img src="@Model.ImgLink" alt="@Model.Name" style="width: 100%; height: auto; border-radius: 5px;">
                <div class="card-body">
                    <p class="description">@Model.Description</p>
                    <span class="price-tag">@($"${Model.Price:F2}")</span>
                    <button type="button" style="padding: 10px 30px; background-color: #FFD700; border: 1px solid black; border-radius: 5px;">
                        <a style="text-decoration: none; color: white; font-size: 30; font-weight: bold;">Add to Cart</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<a href="@Url.Action("ProductDetail", "Home", new { ProductId = Model.ProductId })">
  
</a>
